img{
    text-align: center;
}

.carousel-widget .flickity-slider .carousel-cell {
    width: 100%;
    text-align: center;
    }
    .carousel-widget .flickity-slider .carousel-cell img {
    max-width: 100%;
    }