img{
  image-orientation: flip;
  
}

.carousel-widget .flickity-slider .carousel-cell {
    width: 100%;
    text-align: center;
    }
    .carousel-widget .flickity-slider .carousel-cell img {
    max-width: 100%;
    }

    text{
        text-align: center;
    }

    
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 60%;
        margin: auto;
    }
    